{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<form id="myForm" name="input" action="/search" method="get" data-ajax="false">
    Name: <input type="string" name="author_name" value="">
    <input type="submit" value="Submit">
</form>
<br/>
<table id="datatable" class="table table-bordered table-striped">
    <thead>
    <tr>

        {% for column in args.data[0]%}
        <th style="vertical-align: middle">{{ column }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>

    {% for row in args.data[1]%}
    <tr>
        {% for data_item in row %}
            {% if loop.first %}
                <td><a href="/stats_author/{{ data_item }}"/>{{ data_item }}</td>
            {% else %}
                <td>{{ data_item }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}